<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>CRM</title>
  </head>
  
 <header>
   <h1>Welcome to Customer Relationship Management</h1>
   <nav class="container sansline">
     <a href="/">Home</a>
     <a href="/contacts/new">Add</a>
     <a href="/contacts">Display</a>
 </header>

  <body>
    <div class="main">
      <%= yield %>
    </div>
  </body>

  <footer>
   <nav>
     <a href="index">Home</a>
     <a href="/contacts/new">Add</a>
     <a href="/contacts">Display</a>
   </nav>
  </footer>
</html>