<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>CRM</title>
  </head>
 <header>
   <h1>Welcome to Customer Relationship Management</h1>
   <nav>
     <a href="/">Home</a>
     <a href="add">Add</a>
     <a href="modify">Modify</a>
     <a href="display_all">Display</a>
     <a href="diplay_attr">Attributes</a>
 </header>
  <body>
    <%= yield %>
  </body>
  <footer>
   <nav>
     <a href="index">Home</a>
     <a href="add">Add</a>
     <a href="modify">Modify</a>
     <a href="display_all">Display</a>
     <a href="diplay_attr">Attributes</a>
   </nav>
  </footer>
</html>