h1 {
	margin-right: 20%;
	margin-left: 25%;
	color: black;
	font-family: "Impact"
}

h2 {
	font-style: italic;
	margin-right: 20%;
	margin-left: 40%;
	font-size: 40px;
	color: black;
	border-bottom:2px solid black;
}

.container {
	text-decoration: none;
	font-size: 20px;
	margin-bottom: 7px;
	background-color: white;
}

/*.sansline {
	margin-left: 25%;
	margin-right:25%;

}*/
.sansline a{
    margin-left: 1%;
	text-decoration: none;
	margin-right: 10%;
	font-family: Impact, Charcoal, sans-serif;
	color: grey;

}

footer a{
	text-decoration: none;
	float: right;
	margin-right: 1%;
	margin-top: 15px;
	color: black;
	
}


div {
	background-color: white;
	border-bottom: 15px solid white;
	border-top:10px solid darkred;

}


body {
	background-color: lightblue;
	margin: 0;
}

.list {
	text-decoration: none;
	list-style-type: none;
	margin-right: 40%;
	margin-left: 37%;
}

.list a {
	text-decoration: none;
	font-family: "impact", Helvetica, sans-serif;
	color: darkred;
	font-size: 30px;
}

a:hover {
	color: black;
}

li {
	text-decoration: none;
	font-size: 22px;
	margin-bottom: 15%;
}

